<div class="container-fluid">
  <div class="row pr-3 pl-3 mt-2">
    <div class="col">
      <div class="row mapa-toolbar-tool-row">
        <ng-container *ngIf="!!empresa">
          <p>
            <span class="title">
              {{empresaName}}
            </span>
            <span class="title-extra">
              {{empresaNumber}}
            </span>
          </p>
          <div>
            <button mat-icon-button
            (click)="actionClick('GotoVistaMapa', empresa)"
            matTooltip="Ver en Mapa">
              <mat-icon><fa-icon icon="map"></fa-icon></mat-icon>
            </button>            
          </div>
        </ng-container>
      </div>
    </div>

    <!-- <div class="col">
      <div class="row mapa-toolbar-tool-row">

        <button mat-stroked-button (click)="toggleGeneralRow()" color="basic" class="mr-2">
          <fa-icon icon="{{generalRowVisible ? 'eye-slash' : 'eye'}}"></fa-icon>
          <span class="ml-2">General</span>
        </button>

      </div>
    </div> -->
  </div>

  <ng-container *ngIf="empresa">
    <!-- <div class="row pr-3 pl-3 mt-2" *ngIf="generalRowVisible">
      <h2>General</h2>
    </div> -->
    <!-- info general -->
    <!-- <div class="row mb-2" *ngIf="generalRowVisible">
      <div class="col">
        <h3>Detalles Empresa</h3>
        <mat-card class="mb-1">
          <lib-empresas-core-detail [params]="empresaDetailParams"></lib-empresas-core-detail>
        </mat-card>
      </div>
    </div> -->
    <!-- unidades -->
    <div class="row pr-3 pl-3 mt-2">
      <h2 class="mat-h2">Unidades de Manejo</h2>
    </div>
    <div class="row mb-2">
      <div class="col-md-12 float-right">
        <button mat-stroked-button (click)="newUnidadManejo()" color="primary">
          <fa-icon icon="plus-circle"></fa-icon>
          <span class="ml-2">Nueva Unidad</span>
        </button>
      </div>
    </div>
    <div class="row mr-3 ml-3 mb-2">
      <div class="col">
        <div class="row" *ngFor="let ua of uuaaArr">
          <div class="row">
            <h3 class="mat-h3 mt-2">{{ua.unidad.unidadNombre}}</h3>
          </div>
          <div class="row table-container">
            <lib-componentes-productivos-seguros-secano-table
            [params]="ua.ctps"
            (actioned)="componentesTableAction($event)">
            </lib-componentes-productivos-seguros-secano-table>
          </div>
        </div>
      </div>
    </div>
    <!-- chacras sin um -->
    <div class="row pr-3 pl-3 mt-2">
      <h2 class="mat-h2">Chacras (sin unidad de manejo)</h2>
    </div>
    <div class="row mr-3 ml-3 mb-2">
      <div class="col">
        <div class="row">          
          <div class="row table-container">    
            <lib-componentes-productivos-seguros-secano-table
                  [params]="chacrasSinUm"
                  (actioned)="componentesTableAction($event)">
                  </lib-componentes-productivos-seguros-secano-table>  
          </div>
        </div>
      </div>
    </div>
    
  </ng-container>

</div>
