.main-heading {
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
.buttons {
  margin: 20px 0px;
}

fa-icon {
  font-size: 18px;
}

.mat-form-field {
  font-size: 12px;
}

button {
  height: 40px;
  font-size: 12px;
}

h1 {
  font-size: 28px;
  color: gray;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-size: 18px;
  color: gray;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: 12px;
  color: gray;
}
