<div class="container-fluid">
  <!-- planes list -->
  <div class="row">
    <div class="col">
      <h1>Planes</h1>
      <button mat-stroked-button (click)="newPlan()" color="primary" [disabled]="!ingenieroAgronomo">
        <fa-icon icon="plus-circle"></fa-icon>
        <span class="ml-2">Nuevo Plan</span>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <lib-planes-secano-table
        [params]="planesTableParams"
        (actioned)="planesTableActioned($event)">
      </lib-planes-secano-table>
    </div>
  </div>
  <!-- template rotaciones list -->
  <div class="row mt-4">
    <div class="col">
      <h1>Template Rotaciones</h1>
      <button mat-stroked-button (click)="newTemplateRotacion()" color="primary" [disabled]="!ingenieroAgronomo">
        <fa-icon icon="plus-circle"></fa-icon>
        <span class="ml-2">Nuevo Template Rotación</span>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">

    </div>
  </div>
</div>
