@import "../../../../styles-variables.scss";

.container {
  margin-top: 20px;
}

fa-icon {
  font-size: 18px;
}

.mat-form-field {
  font-size: 11px;
}

button {
  height: 40px;
  font-size: 12px;
}
