<div class="container-fluid">
  <div class="row pr-3 pl-3 mt-2">
    <div class="col-2">
      <div class="row">
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Plan</mat-label>
          <mat-select (selectionChange)="planesChange($event.value)">
            <mat-option *ngFor="let p of planes" [value]="p"
            [selected]="p.planId===planId">
              {{p ? p.planNombre + ' ( Nro ' + p.planNro + ' )' : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="row flex-row-reverse">
        <button mat-stroked-button (click)="reportePlan()" color="primary"
        [disabled]="!plan">
          <fa-icon icon="file"></fa-icon>
          <span class="ml-2">Reporte Plan</span>
        </button>
      </div>
    </div>
  </div>

  <mat-tab-group *ngIf="plan">
    <mat-tab label="General">
      <app-plan-detalles class="m-4" [params]="planDetallesParams"></app-plan-detalles>
    </mat-tab>
    <mat-tab label="Chacras">
      <app-plan-chacras class="m-4" [params]="planChacrasParams"></app-plan-chacras>
    </mat-tab>
    <mat-tab label="Rotación">
      <app-plan-rotacion-componentes class="m-4" [params]="planRotacionComponentesParams"></app-plan-rotacion-componentes>
    </mat-tab>
    <mat-tab label="Adjuntos">
    </mat-tab>
    <mat-tab label="Mensajes">
    </mat-tab>
  </mat-tab-group>
</div>
