<div class="container-fluid">
  <div class="row pr-3 pl-3 mt-2">

    <div class="col-2">
      <div class="row mapa-toolbar-tool-row">

        <button mat-stroked-button (click)="toolClicked('AddChacra', null)" color="primary"
        [disabled]="!empresaId || !(polygons$ | async) || (polygons$ | async).length === 0">
          <fa-icon icon="plus-circle"></fa-icon>
          <span class="ml-2">Nueva Chacra</span>
        </button>
      </div>
    </div>

    <div class="col-8">
      <div class="row mapa-toolbar-tool-row">
        <mat-form-field appearance="fill" color="accent" class="mr-1">
          <mat-label>Chacra</mat-label>
          <mat-select #chacra>
            <mat-option *ngFor="let c of (chacras$ | async)" [value]="c.chacraId">
              {{c.chacraNombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-stroked-button (click)="toolClicked('UpdateChacra', chacra.value)"
        color="accent" class="mr-1" [disabled]="!chacra.value">
          <fa-icon icon="edit"></fa-icon>
          <span class="ml-2">Modificar Chacra</span>
        </button>

        <button mat-stroked-button (click)="toolClicked('DeleteChacra', chacra.value)"
        color="accent" [disabled]="!chacra.value">
          <fa-icon icon="trash"></fa-icon>
          <span class="ml-2">Eliminar Chacra</span>
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="row mapa-toolbar-tool-row">
        <!-- <button mat-stroked-button (click)="fileInput.click()" color="basic">
          <fa-icon icon="file-import"></fa-icon>
          <span class="ml-2">Importar Dibujos</span>
          <input #fileInput type="file" style="display:none;" accept=".zip"
          (change)="importDibujos($event)"/>
        </button> -->

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <lib-map-core-control
        [chacrasCore]="(chacras$ | async)"
        [dibujosCore]="dibujos"
        (dibujoCreatedEvent)="dibujoCreatedEvent($event)"
        (dibujosDeletedEvent)="dibujosDeletedEvent($event)"
        (dibujosUpdatedEvent)="dibujosUpdatedEvent($event)"
      >
      </lib-map-core-control>
    </div>
  </div>
</div>
