<div class="container-fluid">
  <!-- empresas list -->
  <div class="row mt-2" *ngFor="let e of empresas; index as i">
    <div class="col">
      <mat-card class="mb-2">
        <div class="row">
          <div class="col border-primary">
            <h1>
              {{empresasName[i]}}
            </h1>
            <div class="title-extra">
              {{empresasNumber[i]}}
            </div>
            <div>
              <button mat-icon-button
              (click)="actionClick('GotoVistaMapa', e)"
              matTooltip="Ver en Mapa">
                <mat-icon><fa-icon icon="map"></fa-icon></mat-icon>
              </button>
              <button mat-icon-button
              (click)="actionClick('GotoVistaAdministrativo', e)"
              matTooltip="Ver en Administrativo">
                <mat-icon><fa-icon icon="search"></fa-icon></mat-icon>
              </button>
            </div>
          </div>
          <div class="col border-secondary">
            <div class="row">
              <div class="col-md-3">
                <mat-chip class="huge-number">
                  {{rdata[e.empresaId].unidadesArr.length}}</mat-chip>
              </div>
              <div class="col-md-9">
                <h3 class="m-2">Unidades</h3>
                <ul class="no-bullets m-2">
                  <li *ngFor="let u of rdata[e.empresaId].unidadesArr">
                    {{u.unidadNombre}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col border-secondary">
            <div class="row">
              <div class="col-md-3">
                <mat-chip class="huge-number">
                  {{rdata[e.empresaId].chacrasArr.length}}</mat-chip>
              </div>
              <div class="col-md-9">
                <h3 class="m-2">Chacras (sin unidad)</h3>
                <ul class="no-bullets m-2">
                  <li *ngFor="let c of rdata[e.empresaId].chacrasArr">
                    {{c.chacraNombre}} - {{rdata[e.empresaId].chacras[c.chacraId].enviado}}                      
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
