<div class="container-fluid">
  <!-- empresas list -->
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">Empresas</h1>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12 float-right">
      <button mat-stroked-button (click)="newUnidadManejo()" color="primary">
        <fa-icon icon="plus-circle"></fa-icon>
        <span class="ml-2">Nueva Unidad de Manejo</span>
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let e of empresas;">
    <div class="col">
      <lib-unidades-manejos-seguros-secano-table
      [params]="unidadesTableParams"
      (actioned)="unidadesTableActioned($event)">
      </lib-unidades-manejos-seguros-secano-table>      
    </div>
  </div>
</div>
