.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
.buttons {
  margin: 20px 0px;
}

fa-icon {
  font-size: 18px;
}

.mat-form-field {
  font-size: 12px;
}

button {
  height: 40px;
  font-size: 12px;
}
